openapi: 3.2.0
info:
  title: UMedia Digital Collections JSON Item API
  version: '2026-09-01'
  description: Read-only JSON API over UMedia, the University of Minnesota Libraries digital collections platform.
  contact:
    name: University of Minnesota Libraries
    url: https://www.lib.umn.edu
  license:
    name: Terms of use vary by collection
    url: https://umedia.lib.umn.edu/
servers:
- url: https://umedia.lib.umn.edu
  description: UMedia production, University of Minnesota Libraries
tags:
- name: Item
paths:
  /item/{id}.json:
    get:
      summary: Get a single UMedia item record
      description: Returns the full metadata record for one UMedia object. The identifier is the CONTENTdm-style collection:record pair, e.g. p16022coll251:3420. Item records carry fields that search results omit.
      operationId: getUmediaItem
      parameters:
      - name: id
        in: path
        required: true
        description: Item identifier in collection:record form.
        schema:
          type: string
        example: p16022coll251:3420
      responses:
        '200':
          description: The item record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UmediaItem'
        '404':
          description: No such item.
        '403':
          description: Blocked by the edge WAF.
      tags:
      - Item
components:
  schemas:
    UmediaItem:
      type: object
      description: A UMedia digital object metadata record. Field set observed live on 2026-09-01; UMedia does not publish a schema document.
      properties:
        _version_:
          type: integer
        attachment:
          type: string
        barcode:
          type: string
        children:
          type: array
          items: {}
        city:
          type: array
          items:
            type: string
        collection:
          type: string
        collection_description:
          type: string
        collection_name:
          type: string
        collection_name_s:
          type: string
        contact_information:
          type: string
        continent:
          type: array
          items:
            type: string
        contributing_organization:
          type: string
        contributing_organization_name:
          type: string
        contributing_organization_name_s:
          type: string
        country:
          type: array
          items:
            type: string
        creator:
          type: array
          items:
            type: string
        creator_sort:
          type: string
        creator_ss:
          type: array
          items:
            type: string
        date_added:
          type: string
        date_added_sort:
          type: string
        date_created:
          type: array
          items:
            type: string
        date_created_sort:
          type: string
        date_created_ss:
          type: array
          items:
            type: string
        date_modified:
          type: string
        description:
          type: string
        dimensions:
          type: string
        dls_identifier:
          type: array
          items:
            type: string
        document_type:
          type: string
        featured_collection_order:
          type: integer
        first_viewer_type:
          type: string
        fiscal_sponsor:
          type: string
        format:
          type: array
          items:
            type: string
        format_name:
          type: array
          items:
            type: string
        id:
          type: string
        is_compound:
          type: boolean
        language:
          type: array
          items:
            type: string
        local_identifier:
          type: array
          items:
            type: string
        local_rights:
          type: string
        notes:
          type: string
        object:
          type: string
        page_count:
          type: integer
        parent_collection:
          type: string
        parent_collection_name:
          type: string
        parent_id:
          type: string
        persistent_url:
          type: string
        publisher:
          type: array
          items:
            type: string
        publisher_s:
          type: string
        publisher_t:
          type: string
        record_type:
          type: string
        region:
          type: array
          items:
            type: string
        set_spec:
          type: string
        state:
          type: array
          items:
            type: string
        subject:
          type: array
          items:
            type: string
        subject_ss:
          type: array
          items:
            type: string
        super_collection_descriptions:
          type: array
          items:
            type: string
        super_collection_name_ss:
          type: array
          items:
            type: string
        super_collection_names:
          type: array
          items:
            type: string
        super_collection_set_specs:
          type: array
          items:
            type: string
        system_identifier:
          type: string
        thumb_cdn_url:
          type: string
        thumb_url:
          type: string
        title:
          type: string
        title_s:
          type: string
        title_search:
          type: string
        title_sort:
          type: string
        title_t:
          type: string
        type:
          type: string
        types:
          type: array
          items:
            type: string
        viewer_type:
          type: string
x-operator: institution
x-artifact:
  generated: '2026-09-01'
  method: derived
  source: derived from the UMN Libraries documentation at https://github.com/UMNLibraries/digital_collection_apis/blob/master/JSON/json_umedia.md and from live probes of https://umedia.lib.umn.edu/search.json (HTTP 200) and https://umedia.lib.umn.edu/item/p16022coll251:3420.json (HTTP 200) on 2026-09-01; the provider publishes no machine-readable contract of its own, schema fields are those observed in the captured responses stored under examples/
